<div fxLayoutAlign="center center" style="margin-bottom:35px">
  <md-card fxFlex="90%" fxFlex.gt-sm="40%">
    <md-card-content fxLayout="column" fxLayoutAlign="center center">
      <h1 md-line>News Board</h1>
      <p> This is a simple news reader App. It aggregates content from news sites and presents it in news feed format, allows
        users to scroll through the articles, images and videos being shared. Readers can also filtering their news feed
        by categories.
        <p>
          <p><i>MIT License       Copyright © 2017  Ihor Kulyk</i></p>
          <a class="github-button" href="https://github.com/qqingvarqq" data-size="large" aria-label="Follow @qqingvarqq on GitHub">Follow @qqingvarqq</a>
          <a href="https://newsapi.org/">
            <p><b>Powered by News API</b></p>
          </a>
    </md-card-content>
  </md-card>
</div>